<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>고급문제</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/css/ajax/style.css">
    </head>

    <body>
        <div id="wrap" class="justify-content-center">
            <header class="text-center pt-4">
                <div class="display-3">통나무 펜션</div>
            </header>
            <section class="color3 ">
                <nav>
                    <ul class="nav d-flex justify-content-around align-items-center">
                        <li class="nav-item"><a class="nav-link text-light" href="#">펜션소개</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="#">객실보기</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="#">예약안내</a></li>
                        <li class="nav-item"><a class="nav-link text-light" href="#">커뮤니티</a></li>
                    </ul>
                    
                </nav>
            </section>
            <main>
                <img id="img" src="http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner1.jpg">
                <div class="reservation d-flex text-light">
                    <div class="col-4 color1 d-flex justify-content-center align-items-center">
                        <div class="display-3">실시간<br>예약 하기</div>
                    </div>
                    <div class="col-5 color2">
                        <div>
                            <div class="mt-4 ml-2 d-flex">
                                <h3>예약 확인 </h3>
                                <label for="member" class="mt-2 ml-3">회원 </label>
                                <input type="radio" class="ml-1" name="memberRadio" id="member" value="member" checked>
                                <label for="nonmember" class="mt-2 ml-3">비 회원 </label>
                                <input type="radio" class="ml-1" name="memberRadio" id="nonmember" value="nonmember">
                            </div>
                            <div>
                                <div class="d-flex mt-3">
                                    <rabel class="mt-3 ml-3 col-2 p-0" id="id">아이디:</rabel>
                                    <input type="text" class="form-control col-8 mt-2 ml-2" id="idInput">
                                </div>
                                <div class="d-flex">
                                    <rabel class="mt-3 ml-3 col-2 p-0" id="password">비밀번호:</rabel>
                                    <input type="password" class="form-control col-8 mt-2 ml-2" id="passwordInput">
                                </div>
                                <div class="d-flex">
                                    <rabel class="mt-3 ml-3 col-2 hide" id="name">이름</rabel>
                                    <input type="text" class="form-control col-8 mt-2 ml-2 hide" id="nameInput">
                                </div>
                                <div class="d-flex">
                                    <rabel class="mt-3 ml-3 col-2 p-0 hide" id="number">전화번호</rabel>
                                    <input type="text" class="form-control col-8 mt-2 ml-2 hide" id="numberInput">
                                </div>
                                <div class="d-flex">
                                    <rabel class="mt-3 ml-3 col-2 hide" id="date">날짜</rabel>
                                    <input type="text" class="form-control col-8 mt-2 ml-2 hide" id="dateInput">
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-success mt-3 mr-4" id="searchBtn">조회 하기</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 color1 d-flex justify-content-center align-items-center p-0">
                        <h2>예약 문의:<br>010-<br>000-1111</h2>
                    </div>
                </div>
            </main>

            <footer>
                <pre class="text-secondary m-3">
제주특별자치도제주시애월읍
사업자등록번호:111-22-255222/농어촌민박사업자지정/대표:김통목
Copyright 2025 tongnamu All right reserved
                </pre>
            </footer>
        </div>


        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script> 
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        <script>


            $(function() {

                var imgArray = ["http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner1.jpg", 
                "http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner2.jpg", 
                "http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner3.jpg", 
                "http://marondal.com/material/images/dulumary/web/front/jquery/test06_banner4.jpg"]

                var i = 0;

                setInterval(function() {
                    i += 1;
                    if(i > imgArray.length){
                        i = 0;
                    }
                    $("#img").attr("src", imgArray[i]);
                }, 3000);

                $("#searchBtn").on("click", function() {
                    let member = $("input[name=memberRadio]:checked").val()
                   
                    if(member == "member"){
                        if($("#idInput").val() == ""){
                            alert("아이디를 입력하세요.");
                        } else if ($("#passwordInput").val() == "") {
                            alert("비밀번호를 입력하세요.");
                        }
                    } else if(member == "nonmember") {
                        if($("#nameInput").val() == ""){
                            alert("이름을 입력하세요.");
                        } else if ($("#numberInput").val() == "") {
                            alert("전화번호를 입력하세요.");
                        } else if ($("#numberInput").val().substring(0, 3) != "010"){
                            alert("010으로 시작하는 번호만 입력 가능합니다.");
                        } else if ($("#dateInput").val() == "") {
                            alert("날짜를 선택하세요.");
                        }
                    }
                });


                $("#dateInput").datepicker({
                    dateFormat:"yy년 mm월 dd일",
                    minDate:0
                });

                $("input[name=memberRadio]").on("change", function() {
                    if($(this).val() == "member") {
                        $("#name").addClass("hide");
                        $("#nameInput").addClass("hide");
                        $("#number").addClass("hide");
                        $("#numberInput").addClass("hide");
                        $("#date").addClass("hide");
                        $("#dateInput").addClass("hide");

                        $("#id").removeClass("hide");
                        $("#idInput").removeClass("hide");
                        $("#password").removeClass("hide");
                        $("#passwordInput").removeClass("hide");
                        
                    } else if($(this).val() == "nonmember"){
                        $("#id").addClass("hide");
                        $("#idInput").addClass("hide");
                        $("#password").addClass("hide");
                        $("#passwordInput").addClass("hide");

                        $("#name").removeClass("hide");
                        $("#nameInput").removeClass("hide");
                        $("#number").removeClass("hide");
                        $("#numberInput").removeClass("hide");
                        $("#date").removeClass("hide");
                        $("#dateInput").removeClass("hide");
                    }
                });

            });
        </script>
            
            
        

    </body>
</html>